<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Event Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Venue</th>
            <th>Description</th>
            <th>Media Files</th>
        </tr>
    </thead>
    <tbody>
        
        <% Events.forEach(event => { %>
            <tr>
                <td><%= event.id %></td>
                <td><%= event.eventType %></td>
                <td><%= event.startDate %></td>
                <td><%= event.endDate %></td>
                <td><%= event.startTime %></td>
                <td><%= event.endTime %></td>
                <td><%= event.venue %></td>
                <td><%= event.description %></td>
                <td>
                    <% event.mediaFiles.forEach(mediaFile => { %>
                        <!-- To be fixed by checking appropriate file type -->
                        <p><%= mediaFile %></p> 
                    <% }); %>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>