<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <script>
      document.documentElement.classList.add("js");
    </script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </head>

  <body class="font-[Poppins] bg-white">
    <%- include('./common/nav')%>

    <section class="bg-white dark:bg-gray-100">
      <div
        class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6"
      >
        <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
          <div
            class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0"
            data-taos-offset="300"
          >
            <div
              class="duration-[1000ms] [animation-iteration-count:infinite] taos:opacity-0"
            >
              <h2
                class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-black"
              >
                Our Team
              </h2>
              <p
                class="mb-20 font-light text-gray-500 sm:text-xl dark:text-gray-800"
              >
                Building Bridges and Strengthening Bonds: Enhancing Alumni
                Collaboration Through Teamwork and Engagement
              </p>
            </div>
          </div>

          <!-- Displaying VP -->
          <% const president = TeamMembers.find(member => member.position ===
          'Vice President'); %> <% if(president){ %>
          <%-include('./team/teamCard',{...president}) %> <%}%>
        </div>

        <div class="container mx-auto p-8">
          <div class="flex flex-wrap align-middle justify-center -mx-4">
            <!-- Do not move to next line. It might throw error -->
            <% TeamMembers.filter(member => member.position === 'Overall Coordinators').forEach((member, index) => { %>
            <%-include('./team/teamCard', {...member}) %> <% }); %>
          </div>
        </div>

        <!-- Displaying coordinators -->
        <div
          class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          <% TeamMembers.filter(member => member.position !== 'Overall Coordinators' && member.position !== 'Vice President' && member.position !== 'President').forEach(function(member) { %>
          <%-include('./team/teamCard', {...member}) %> 
          <% }) %>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
    <%- include('./common/footer')%>
  </body>
</html>
