<!-- NavBar -->
<header class="bg-white">
    <nav class="flex justify-between items-center w-[92%] mx-auto py-4">
        <div class="flex items-center">
            <img class="w-16 cursor-pointer" src="/assets/saa_logo_jpeg.jpeg" alt="...">
            <span class="title-holder">
                <span class="title text-2xl font-semibold whitespace-nowrap dark:text-black ml-3">
                    Society of Alumni Affairs
                </span>
            </span>
        </div>
        <div
            class="nav-links duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5 md:justify-end">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[2vw] gap-8">
                <% Object.entries(NavLinks).forEach(([key, [text, linkOrSublinks]]) => { %>
                    <li>
                        <% if(Array.isArray(linkOrSublinks)){ %>
                            <button id="dropdownDelayButton" data-dropdown-toggle="dropdownDelay" data-dropdown-delay="200" data-dropdown-trigger="hover" class="text-black bg-white hover:text-gray-500 focus:outline-none   rounded-lg   text-center inline-flex items-center dark:bg-white dark:hover:text-gray-500 " type="button">
                                <%= text %>
                                <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                                </svg>
                            </button>
                            <% }else{ %>
                        <a class="hover:underline" href="<%= linkOrSublinks %>"> <%= text %></a>
                        <% } %>
                   <% if (Array.isArray(linkOrSublinks)) { %>

                    <div id="dropdownDelay" class="z-40 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-white">
                        <ul class="py-2 text-sm text-black dark:text-black" aria-labelledby="dropdownDelayButton">
                            <% linkOrSublinks.forEach(([subText, subLink]) => { %>
                                <li>
                                  <a href="<%= subLink %>" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-100 dark:hover:text-black"><%= subText %></a>
                                </li>
                              <% }); %>
                        </ul>
                    </div>
                      <% } %>
                    </li>
                  <% }); %>
               
     
                </li>
            </ul>
        </div>
    </nav>
</header>